<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../static/Python_Programs/Word_Counter/styles.css">
    <title>Word Counter</title>
</head>
<body>
    <h1>Text</h1>
    <form action="./Word_Counter" method="POST">
        <input type="text" name="words"> <br>
        <button type="submit">Get the word count</button>
    </form>
    <h1>Words:</h1>
    <ul class="words_list">
        {% for item in count %}
            <ul class="word">
                <h1 class="words_word">{{ item.word }}</h1>
                <h1 class="word_counter">{{ item.num }}</h1>
            </ul>
            <br />
        {% endfor %}
    </ul>
</body>
</html>