<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../static/Python_Programs/Word_Counter/styles.css">
    <title>Word Counter</title>
</head>
<body>
    <h1>Text -></h1>
    <form action="./Word_Counter" method="POST">
        <input type="text" name="words">
        <button type="submit">Get the word count</button>
    </form>
    <h2 class="answer" id="answer_word_count"> {{ count }} </h2>
</body>
</html>