<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/Home/styles.css">
    <title>A Website for Ritik and Samik Pradhan</title>
</head>
<body>
    <h1 class="about_link_h1"><a href="./Ritik" class="about_link">About Ritik</a></h1>
    <h1 class="about_link_h1"><a href="./Samik" class="about_link">About Samik</a></h1>
    <h1 class="about_link_h1"><a href="./Programs" class="about_link">Python Programs</a></h1>
</body>
</html>