<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/Python_Programs/styles.css">
    <script src="static/Python_Programs/script.js"></script>
    <title>Programs by Ritik and Samik</title>
</head>
<body>
    <h1>Programs by Ritik and Samik</h1>
    <div class="programs">
        <ul class="programs_list">
            <div class="program" onclick="goto('./Programs/Word_Counter');">
                <h2 class="program_header">Word Counter</h2>
                <p class="program_desc">Add a text piece of choice which will have the words be counted</p>
                <p class="creator">by Ritik</p>
            </div>
        </ul>
        <ul class="programs_list">
            <div class="program" onclick="goto('./Programs/Pathfinding');">
                <h2 class="program_header">Pathfinding</h2>
                <p class="program_desc">Pathfinding using A* algorithim</p>
                <p class="creator">by Ritik</p>
            </div>
        </ul>
    </div>
</body>
</html>