body {
    background-color: black;
    color: white;
}

td.cell {
    font-size: 100px;
    background-color: white;
    margin: 0px;
    padding: 0px;
    cursor:default;
    user-select: none;
}

#grid {
    margin-left: auto;
    margin-right: auto;
}

#block {
    background-color: red;
}

#start {
    background-color: yellow;
}

#end {
    background-color: yellow;
}

a {
    color: inherit;
}